body {
	width:100%;
	background: none;
	color:#262626;
	font-family: Helvetica, Arial, Verdana;
	font-size:14pt;
	font-weight:300;
}

.full {
  background: url("../images/bgimg.jpg") no-repeat bottom center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	color:#2c3e50;
	font-size:32pt;
	margin-top:40px;
	font-weight:400;
	font-style:italic;
}

h2 {
	font-size:24pt;
	margin-top:50px;
	margin-bottom:30px;
}

h3 {
	font-size:20pt;
	margin-top:20px;
}

p {
	font-size:14pt;
	line-height:130%;
}

.clear {
	clear:both;
}

.container-fluid {
	width: 100%;
	padding-right:0px;
	padding-left:0px;
}

.navigatie {
	width:100%;
	background-color:rgba(0, 0, 0,0.5);
}

nav {
	height:40px;
}

ul li {
	display:inline-block;
	float:right;
	width:150px;
}

ul li a {
	color:#ecf0f1;
}

ul li a:hover {
	color:#2c3e50;
	text-decoration:none;
}

.intro {
	margin-top:50px;
	margin-bottom:50px;
}

.buddies {
	background-color:#FFF;
}

.formulier {
	margin-top:50px;
}

input {
	width:45%;
	padding-left:5px;
	margin-bottom:10px;
	float:left;
}

.ghost-button-transition {
	float:left;
	display: inline-block;
	background:none;
	width:25%;
	padding:6px 0px;
	color:#27ae60;
	border: 2px solid #27ae60;
	text-align: center;
	outline: none;
	text-decoration: none;
	transition: background-color 0.2s ease-out,
	            color 0.2s ease-out;
}
.ghost-button-transition:hover,
.ghost-button-transition:active {
	background-color:#27ae60;
	color:#ecf0f1;
	text-decoration:none;
	transition: background-color 0.3s ease-in,
	            color 0.3s ease-in;
}

