body {
	background: url("../images/bgimg.jpg") no-repeat bottom center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.logo {
	margin: 10px;
}

.nav{
	float: right;
	font-size: 18px;
	padding-top: 15px;
}

.buddies {
	background-color:#EAEAEA;
}

.intro {
	margin-top:100px;
	margin-bottom:150px;
}

.quotes {
	background-color: #FFF;
}

.pictures {
	background-color:#EAEAEA;
}

.formulier {
	margin-top:50px;
}

input {
	width:45%;
	padding-left:5px;
	margin-bottom:10px;
	float:left;
}

.ghost-button-transition {
	float:left;
	display: inline-block;
	background:none;
	width:25%;
	padding:6px 0px;
	color:#27ae60;
	border: 2px solid #27ae60;
	text-align: center;
	outline: none;
	text-decoration: none;
	transition: background-color 0.2s ease-out,
	            color 0.2s ease-out;
}
.ghost-button-transition:hover,
.ghost-button-transition:active {
	background-color:#27ae60;
	color:#ecf0f1;
	text-decoration:none;
	transition: background-color 0.3s ease-in,
	            color 0.3s ease-in;
}

.submit {
	width: 150px;
	margin-top: 10px;
}

select {
	width: 80px;
}

.feedback {
	color:green;
	width: 300px;
}

.error {
	color:red;
	width: 300px;
}

.fileupload {
	margin-top: 5px;
	margin-left: -6px;
}

